.fonction {
    margin-bottom: 68px;
    h2 {
        padding: 48px 20px 26px ;
    }
    .explain {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    
    .explain1 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 27px;
        background: var(--gray1);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-bottom: 25px;
        width: 95%;
        max-width: 700px;
        height: 72px;
        &:first-child::before { 
            @include beforeFonction ;
            content: "1";  
        }
        &:nth-child(2)::before {
            @include beforeFonction ;
            content: "2"
        }
        &:last-child::before {
            @include beforeFonction ;
            content : "3";
        }
        &:last-child i {
            color: $purple;
        }
        p {
            font-weight: 500;
        }
        i {
        color: #7e7e7e;
        }
        .fa-solid{
            font-size : 20px; 
        }
        }
    }
}
@media (min-width: 900px) {
.fonction .explain {
   
    flex-direction: row;
}
}
@media (min-width: 1440px) { 
    .fonction 
    {
     h2{
        max-width: 1200px;
        margin: auto;
     }   
        .explain {
        margin-left: 0;
        max-width: 1200px;
        
        
        margin: auto;
        justify-content: space-evenly;
        .explain1 {
            max-width: 350px;
        }
    }
}
}