footer {
    background: $gray;
    color: white;
   @include footer ;
    padding: 30px 25px 22px;
    
    #font {
        font-family: $title;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
    }
    .link{ 
        ul{
           list-style: none;
            li {
                padding: 5px 0 5px 0;
             
                .partner i{
                    margin-right: 6px;   
                }
            }
           a {
            color: white;
            &:hover{
                color: $purple;
            }   
                i {
                margin-right: 11px;
                }
            }
        }  
    }
 }
 @media (min-width: 767px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        #font {
            font-size: 28px;
        }
        
    }
 }