.restaurant {
    padding: 54px 0 ;
    background: $gray1;
    padding-bottom: 66px;
     h2 {
        margin-bottom: 20px;  
        margin-left: 20px;
        }
    .restaurants {
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: center;
    
   .card {
        display: flex;
        flex-direction: column;
        width: 90%;
       
        .card1 {
            position: relative;
            background: white;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            img { 
                border-top-left-radius: 15px ;
                border-top-right-radius: 15px;  
                height: 180px; 
                object-fit: cover;
            }
            h3 {
                font-size: 18px;
                margin: 16px 0 5px 13px;
            }
            p {
                font-size: 17px;
                margin: 0 0 12px 13px;
            }
            input[type="checkbox"] {
                display: none;
            }
            input[type="checkbox"]:checked + label i {
                color: $purple;
               }
            label {
                position: absolute;
                top: 205px;
                right: 25px;
                i {
                    color: gray;
                    font-size: 1.5rem;
                }  
             }
        }
        #carte1::after   {
            @include new ;
        }
        #carte2::after {
            @include new ;
        }
    }
    }
}
@media (min-width: 767px) {
    .restaurant {

    .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}
}
