.rect {
    height: 1200px;
}
.footer1 {
    @include footer ;
    z-index: 1;
}
@media (min-width: 767px) {
    .footer1 {
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        flex-direction: row;
        align-items: center;
    }
}
@media (min-width: 1440px) {
    footer {
        .footer1{
        justify-content: flex-end;
        }
        .link {
            ul {
                display: flex;
                gap: 15px;
            }
            
        }
    }
}