.card-menu1 {
    position: absolute;
    top: 290px;
    padding-bottom: 40px;
    padding-top: 32px;
    width: 100%;
    background: $gray1;
    border-radius: 25px ;
    display: flex;
    flex-direction: column;

    input[type="checkbox"]:checked + label span{
        transform: translateX(-50px);
    
   #valid {
        transform: translate(-50px);
        background: $cyan1;
    }
}
    h2 {
        font-family: $title;
        font-style: italic;
        font-weight: 400;
        margin-left: 17px;
    }
    .card-menu1-head {
        display: flex;
        align-items: center;
        
        label {
            position: absolute;
            top: 40px;
            right: 40px;
        }
    }
    .card-choice {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0 13px;
        .plat {
            height: 27px;
            font-weight: 300;
            margin-top: 40px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 40px;
                border-bottom: 3px solid $cyan1 ;
                left: 0;
                top: 27px;
            }
            input[type="checkbox"]:checked + label span{
                transform: translateX(-50px);
            
          
        }
        input[type="checkbox"]:checked + label #valid{
            
            display: inline;
                transform: translate(-50px);
                background: $cyan1;
        }
        .card-menus {
            display: flex;
            align-items: center;
            transition: 0.5s;
           
            
        }}
        .card-menu {
            width: 100%;
            background: white;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
            border-radius: 15.0431px;
            display: grid;
            grid-template-columns: 90% 10%;
            grid-template-areas: "a1  a1"
            "a2  a3";
            padding: 15px;
            gap: 5px;
            h3{
                grid-area: a1;
                font-weight: 500;
                font-size: 18px;
            }
            p{
                grid-area: a2;
                font-size: 15px;
            }
            span{
                grid-area: a3;
                font-weight: 700;
                transition: 0.5s;
            
            }
           
        }
    #valid {
        
        display: none;
        width: 59px;
        height: 77px;
        border-radius: 0 15px 15px 0;
        transition: 0.5s;
        justify-content: center;
        align-items: center;   
        i {
            color: $gray1; 
            border-radius: 100px;
            font-size: 1.5rem;
        } 
    }
    button {
        @include button ;
        margin: 40px auto;
        &:hover{
        @include buttonHover ;
        

        }
    }   
    }
 



 @media (min-width: 767px) {
    .card-menu1 {
    align-items: center;
    .card-menu1-head label {
        position: static;
        margin-left: 24px;
    }
    .card-choice .card-menu{
        width: 634px;
    }
}
 }
}